*{
    background-color: #212131;
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;
    scroll-behavior: smooth;
    }
/* the orange bar on top */
.accent {
    position: relative;
    background-color: #F7931A;
    width: 100%;
    box-sizing: border-box;
    height: 3px;
    margin: 0 auto;
    top: 54px;
}
/* text in image */
.hook {
    box-sizing: border-box;
    position: absolute;
    float: right;
    top: 30%;
    left: 50%;  
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 50px 25px;
    width: 600px;
    border: 1px solid #fff;
    border-radius: 10px;
    opacity: 0%;
}
.hook p {
    color: #fff;
    font-size: 150%;
}
.image {
    margin: 0 auto;
    text-align: center;
    object-fit: cover;
    max-width: 100%;

}
main {
    text-align: left;
    padding: 60px 25%;
    color: #fff;
}
p {
    font-size: 120%;
}
.title {
    margin: 10px auto 10px;
    text-align: center;
    color: #FF9500;
    font-weight: bold;
}
h1 {
    color: #FF9500;
}
h2{
    color: #FF9500;
}
nav {
    margin: 0 15px
}
/* buttons on the main page */
#buttons {
    padding: 0 15%;
    text-align: center;
}
.navbutton {
    text-align: center;
    margin: 3px 5px;
    display: inline-block;
    width: 300px;
    height: 60px;
    max-width: 100%;
    padding: 13px 19px 0;
    min-width: 75px;
    background: #212131;
    color: #fff;
    border: 1px solid #FF9500;
    box-sizing: border-box;
    border-radius: 3px;
    text-decoration:none;
    font-weight:bold;
    font-size: 110%;
    -webkit-transition: background-color .3s;
    -moz-transition:    background-color .3s;
    -ms-transition:     background-color .3s;
    -o-transition:      background-color .3s;
    transition:         background-color .3s;
}
.introbutton {
    text-align: center;
    margin: 3px 5px;
    display: inline-block;
    width: 300px;
    height: 60px;
    max-width: 100%;
    padding: 13px 19px 0;
    min-width: 75px;
    background: #FF9500;
    color: #fff;
    border: 1px solid #212131;
    box-sizing: border-box;
    border-radius: 3px;
    text-decoration:none;
    font-weight:bold;
    font-size: 110%;
    -webkit-transition: background-color .3s;
    -moz-transition:    background-color .3s;
    -ms-transition:     background-color .3s;
    -o-transition:      background-color .3s;
    transition:         background-color .3s;
}
.navbutton:hover {
    background-color: #FF9500;
    color: #fff;
  }

.introbutton:hover {
    background: #212131;
    color: #fff;
    border: 1px solid #FF9500;
  }
/* podcast section */
.podcast {
    text-align: center;
    margin: 30px auto;
    background-color: aliceblue;
}

.podcast h2 {
    color:#212131;
    background-color: aliceblue;}

/* activity log */
table, th, td {
    border: 1px solid aliceblue;
    border-collapse: collapse;
    padding: 10px;
    margin: 10px auto;
  }
.name {
    color: antiquewhite;
}
/* top navigation bar */
.navigation {
    overflow: hidden;
    position: fixed; 
    top: 0;
    width: 100%;
    font-size: 120%;
    box-shadow: 0px 1px #FF9500;
  }
  
  .navigation a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    box-sizing: border-box;
  }
  #disabled{
    float: left ;
    height: 50px; 
    width: auto;
    padding: 3px 10px;
  }
  
  #disabled:hover {
    background: #212131;
  }
  .navigation a:hover {
    background: #FF9500;
    color: black;
  }
  /* table of content */
  .table {
    width: 25%;
    padding-right: 0%;
    float: left;
    top: 30%;
    position: fixed;
    text-decoration: none;
    color: #fff;
    list-style-image: url("./img/orangediamond.png");
}
.table li {
    list-style: none;
    padding: 10px 30px;
    background-image: url("./img/orangediamond.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}
.table a {
    text-decoration: none;
    color: #fff;
}
.table a:hover {
  color: #FF9500;
}
/* filler */
.filler {
    height: 60px;
}
/* img on cryptomoney */
.aboutimg {
    border-radius: 50px;
}